.dashboard{
    width: 100vw;
    padding: 2rem;
}
.list {
   display: flex;
   align-items: baseline;
}
.group {
display: flex;
align-items: baseline;
}
.right-side {
    display: flex;
    gap: 1rem;
}