
.task-list-view {
    width: 100%;
    margin: auto;
    font-family: Arial, sans-serif;
}
  
  .filters button {
    margin: 0 5px;
    padding: 8px 12px;
    border: none;
    background: #eee;
    cursor: pointer;
  }
  .task-section {
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .task-header {
    padding: 10px;
    font-weight: 300;
    text-align: justify;
    display: flex;
    justify-content: space-between;
  }
  
  .task-content {
    padding: 20px;
    background: #f9f9f9;
    min-height: 45vh;
  }
  
  .task-card {
    display: grid;
    grid-template-columns: .5fr 1.5fr 1fr 1fr 1fr;
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-bottom: .5px solid #A7A7A7;;
  }
  
  .pink { background: #f8c6f0; }
  .blue { background: #a0d9f6; }
  .green { background: #c2f7a0; }
  
  .logo {
    filter: grayscale(100%) brightness(50%);
  }
  .headings {
    display: grid;
    grid-template-columns: 1fr .5fr .5fr .5fr .5fr;
    text-align: center;
    border-top: 0.2px solid rgba(0, 0, 0, 0.6);
    color:rgba(0, 0, 0, 0.6) ;
    padding-top: .3rem;
    margin-bottom: 0;
  }
  .filter-container {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;

    .left-side {
      display: flex;
          flex-direction: row;
          align-items: baseline;
          gap: 1rem;
    }
    select {
      word-wrap: normal;
      padding: .5rem;
      border-radius: 20px;
      font-size: .8rem;
    }
  }
  .task-status {
    width: 6rem;
    padding: .3rem;
    background-color: #DDDADD;
    text-align: center;
  }
  .completed-checkbox{
    width: 1rem;
  }

  .input-drag {
    display: flex;
    justify-content: flex-start;
    align-items: anchor-center;
    gap: .5rem;
  }

  .task-tick {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
  
  .green-tick {
    background-color: green;
    color: white;
  }
  
  .grey-tick {
    background-color: #A7A7A7;
    color: white;
  }
  .drag-handle {
    color: #A7A7A7;
  }
  .completed-task{
    text-decoration: line-through;
    opacity: 0.9;
  }
  .category-container {
    display: flex;
    justify-content: space-between;
  }
  .edit-delete {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    user-select: none;
  }
  
  .task-options {
    position: relative;
    display: inline-block;
    bottom: 25%;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100px;
    display: flex;
    flex-direction: column;
    z-index: 10;

    .dropdown-item:nth-child(2) {
      color: red; 
     
    }
  }
  
  .dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    background: none;
    text-align: left;
    width: 100%;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  .selectedtasks-manipulate {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: anchor-center;
  }
  .selectedtasks-manipulate-container {
    padding: .5rem .5rem;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    width: 25%;
    border-radius: 10px;
    position: sticky;
    left: 50%;
    transform: translateX(-50%);
  }
  .selected-tasks {
    color: #ffffffdd;
    border: 1px solid grey;
    padding: .1rem .8rem;
    border-radius: 10px;
  }
  .delete-btn {
    padding: .1rem .8rem;
    border-radius: 10px;
    color: #E13838;
    border: #E13838;
    background-color: rgba(225, 56, 56, .25);
  }
  .change-status-btn {
    padding: .1rem .8rem;
    border-radius: 10px;
    background-color:rgba(255, 255, 255,.14);
    color: #ffff;
    border:  #8D8A8A;;
  }
  
  .dropdown-menu-status {
    position: relative;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 7rem;
    display: flex;
    flex-direction: column;
    z-index: 10;
    bottom: 11rem;
    left: 42rem;
    background-color: black;
    color: #fff;

    .dropdown-item {
      padding:8px 10px;
      color:#fff
    }
    .dropdown-item:hover {
      color: black;
    }
    .task-options {
      bottom: 40%;
    }

  }

  @media screen and (max-width: 800px) {
  .input-drag{
    align-items: baseline;
    margin-right: 1rem;
  }
  @media screen and (max-width: 600px) {
    .task-card {
       font-size: .7rem;
    }
    .task-tick {
      height: 15px;
      width: 15px;
    }
    .task-options {
      bottom: 40%;
    }


  }

}
@media screen and (max-width: 600px) {

  .headings{
 p{
  font-size: .5rem;
 }
}
.task-card {
  font-size: .6rem;
}
.task-tick {
  height: 12px;
  width: 12px;
}
.task-status{
  font-size: .5rem;
}


}

@media (max-width: 480px) {
  .task-header {
    font-size: .7rem;
  }
  .task-card {
    font-size: .5rem;
    gap: .3rem;
    align-items: flex-start;
  }
  .input-drag {
    gap: .1rem;
  }
 .dropdown-menu {
  
 }
}
